body, html{
    background-image: url(bg.jpg);
    background-position: 50% 0;
    height: 100%;
    width: 100%;
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; 
    flex-flow: column wrap; */
    font-family: 'Montserrat', sans-serif;
    
}

.btn-primary{
    text-transform: uppercase;
    background-color: rgb(255, 89, 0);
    border: none;
    width: 200px;
    height: 50px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    transition: all 0.5s;
    backface-visibility: hidden;
}
            
.btn-primary:hover{
    background-color: rgba(192, 86, 25, 0.98);
    border: none;
    transform: scale(1.1);
    backface-visibility: hidden;
}

.btn-primary:active, .btn-primary:active:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important; 
    background-color: rgba(192, 86, 25, 0.80) !important;
}
.btn-primary:focus{
    border: none !important;
    outline: none !important;
    box-shadow: none !important; 
    background-color: rgb(255, 89, 0);
}

.signup{
    display:flex;
    justify-content: center;
}
.title{
    color:rgb(206, 206, 206);
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #000, -1px -1px #000, 1px 1px #000;
    margin-top:200px;
    margin-bottom:100px;
    display:flex;
    justify-content: center;

}
